include dmenu_extended/main.py
include dmenu_extended/__init__.py
include scripts/dmenu_extended_run
include scripts/dmenu_extended_cache_build
include scripts/systemd-install.sh
include systemd/update-dmenu-extended-db.timer
include tests/test_main.py
