[Unit]
Description=Updates the database file used by dmenu_extended_run

[Service]
Type=oneshot
User=%i
ExecStart=/usr/bin/dmenu_extended_cache_build
