name: Continuous Integration
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check version string
        run: ./test.sh --check-version

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install ruff
        run: pip install ruff
      - name: Check Python formatting
        run: ruff format --check src/dmenu_extended tests/
      - name: Check Python style
        run: ruff check src/dmenu_extended tests/
      - name: Setup shfmt
        uses: mfinelli/setup-shfmt@v3
      - name: Check shell formatting
        run: shfmt -d *.sh

  system-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build test environment
        run: ./test.sh --build
      - name: Run system test
        run: ./test.sh --system
