name: Continuous Integration
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build test environment
      run: ./test.sh --build
    - name: Lint code
      run: ./test.sh --lint
    - name: Run system test
      run: ./test.sh --system
