name: Continuous Integration
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install ruff
        run: pip install ruff
      - name: Check Python formatting
        run: ruff format --check src/dmenu_extended tests/
      - name: Check Python style
        run: ruff check src/dmenu_extended tests/
      - name: Setup shfmt
        uses: mfinelli/setup-shfmt@v3
      - name: Check shell formatting
        run: shfmt -d *.sh

  system-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build test environment
        run: ./test.sh --build
      - name: Run system test
        run: ./test.sh --system

  release:
    if: github.event_name == 'push'
    needs: [lint, system-test]
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install python-semantic-release

    - name: Configure Git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

    - name: Run Semantic Release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        semantic-release version
        semantic-release publish

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      if: hashFiles('dist/*') != ''
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
